body{
    margin: 0px;
    padding: 0px;
}

input{
    border: 0px;
    padding: 0px;
    margin: 0px;
}


a:any-link{
    text-decoration: none;
}


.color-blue{
    color: #56a4e6;
}

.color-green{
    color: #89C997;
}

.color-orange{
    color: #f9c06c;
}

.color-red{
    color: #f47886;
}

@media(max-width: 1100px) {
    .container{

    }

    .tab{
        background-color: #f1f1f1;
        height: 30px;
        padding: 0 18.75% 0 18.75%;
        border-bottom: solid #FBFBFB 1px;
        color: #999999;
        font-size: 12px;
        line-height: 30px;
        display: none;
    }

    .header{
        height: 131px;
        background-color: #FFFFFF;
        padding: 0 18.75% 0 18.75%;
        display: none;
    }

    .header .title-group{
        float: left;
        width: 56.63%;
        display: none;
    }

    .header .title-group .title{
        font-size: 28px;
        color: #3399ff;
        float: left;
        height: 131px;
        line-height: 131px;
        font-family: "Microsoft Sans Serif";
        margin-right: 0.89%;
    }

    .header .title-group .sub_title{
        height: 131px;
        float: left;
        /*padding:  0 0 0;*/
    }

    .header .title-group .sub_title .cn{
        font-size: 22px;
        color: #999999;
        line-height: 131px;
        font-family: "Microsoft Sans Serif";
    }

    .header .title-group .sub_title .site{
        font-size: 16px;
        color: #999999;
        padding-left: 17px;
        font-family: "Microsoft Sans Serif";
        text-align: right;
        /*float: outside;*/
        position: relative;
        bottom: 40%;
    }

    .header .date-time{
        font-size: 15px;
        color: #999999;
        float: left;
        height: 110px;
        padding: 21px  0 0 1%;
        width: 23.42%;
        line-height: 110px;
    }



    .header .other .operation{
        width: 18.3%;
        font-size: 12px;
        /*color: #999;*/
        padding: 30px 0 6px 0;
        height : 24px;
        float: left;
    }

    .header .other .operation a:link{
        color: #999;
    }

    .header .other .operation a:active{
        color: #999;
    }

    .header .other .operation a:visited{
        color: #999;
    }

    .header .other .operation a:hover{
        color: #333;
    }

    .header .other .search input{
        width : 16.88%;
        height : 12px;
        font-size: 12px;
        padding: 8px 0px 8px 10px;
        border: 1px solid #999;
        border-radius: 1px;
    }

    .menu{
        padding: 0 18.75% 0 18.75%;
        background: #e8e8e8;
        height: 52px;
    }

    .menu li{
        width: 14.257%;
        font-size: 16px;
        float: left;
        list-style: none;
        display: block;
        color: #666666;
        line-height: 52px;
        text-align: center;
        cursor: pointer;
    }

    .menu li:hover{
        color: #FFFFFF;
        background: #2e8fff;
    }

    .menu li.select{
        color: #FFFFFF;
        background: #2e8fff;
    }

    .banner {
        width: 100%;
        height: auto;
    }

    .banner img{
        max-width: 100%;
        width: 100%;
        height: auto;
    }

    .content {
        /*padding: 0 18.75% 0 18.75%;*/
        height: auto;
        margin-bottom: 20px;
        float: left;
    }

    .module-group {
        width: 100%;
        padding: 20px 0 0 0;
        float: left;
    }

    .module {
        padding: 0 0.52% 0 0.52%;
        float: left;
    }

    .module-1 {
        width: 40%;
        height: auto;
        display: none;
    }

    .module-1 img {
        width: 100%;
        height: auto;
    }

    .module-2 {
        width: 100%;
    }

    .module-2 .title{
        background-color: #3195fe;
        color: #FFFFFF;
        text-align: center;
        height: 45px;
        width: 100%;
        line-height: 45px;
        font-size: 23px;
        float: none;
    }

    .module-2 .content {
        padding: 0px;
        width: 100%;
        background-color: #F6F6F6;
        float: left;
    }

    .module-2 .content .left{
        width: 28%;
        padding: 22px 3.02%;
        float: left;
    }

    .module-2 .content .left img{
        width: 100%;
    }

    .module-2 .content .right{
        width: 62.94%;
        padding: 22px 3.02% 22px 0;
        float: left;
    }

    .module-2 .content .right .news{
        font-size: 14px;
        line-height: 30px;

    }

    .module-2 .content .right .news .news-title{
        width: 69.05%;
        float: left;
        padding-right: 7.55%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: list-item;
        list-style: inside;
        color: #666666;
    }

    .module-2 .content .right .news .news-time{
        width: 23.38%;
        float: left;
        color: #666666;
    }

    .module-group .module-3 img{
        width: 32%;
        float: left;
        margin-right: 2%;
    }

    .module-group .module-4 img{
        width: 100%;
        float: left;
    }


    .module-group .module-6{
        height: 502px;
        width: 100%;
        float: left;
        margin-right: 3.08%;
    }

    .module-6 .block{
        border: solid 1px #cccccc;
        width: 42.72%;
        padding: 16px 2.61% 16px 2.61%;
        margin-right: 1.71%;
        margin-bottom: 16px ;
        height: 201px;
        float: left;
    }
    .module-6 .block .title{
        width: 100%;
        margin-right: 0%;
        margin-bottom: 6px;
        height: 21px;
        font-size: 16px;
        float: left;
        line-height: 21px;

    }

    .module-6 .block .title div{
        float: left;
        width: 21px;
        height: 21px;
        margin-right: 6.84%;
    }

    .module-6 .block .container {
        padding: 18px 3.36% 0 3.36%;
        float: left;
        width: 93.28%;
        height: 155px;
        margin-right: 6.84%;
        border-top: 1px solid #cccccc;
        margin-bottom: 18px;

    }

    .module-6 .block .container .news-title{
        line-height: 26px;
        font-size: 12px;
        height: 26px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: #666666;
    }

    .color-blue{
        color: #56a4e6;
    }

    .color-green{
        color: #89C997;
    }

    .color-orange{
        color: #f9c06c;
    }

    .color-red{
        color: #f47886;
    }

    .module-group .module-7{
        /*height: px;*/
        width: 94%;
        float: left;
        background-color: #F6F6F6;
        margin-bottom: 16px;
        padding: 16px 3%;
        /*display: none;*/
    }

    .module-group .module-7 .title{
        width: 95%;
        padding-left: 5%;
        background-image: url("/images/module-7-title.png");
        background-repeat: no-repeat;
        font-size: 18px;
        color: #FFFFFF;
        line-height: 42px;
        height: 40px;
        padding-bottom: 1px;
        border-bottom: 1px solid #FF9900;
        margin-bottom: 14px;
    }

    .module-group .module-7 .service-group{
        width: 33.3%;
        padding: 0;
        float: left;
    }

    .module-group .module-7 .service-group .service{
        width: 27.3%;
        padding: 0px 3%;
        float: left;
        margin: 14px 0;
        color: #999999;
        font-size: 13px;
        text-align: center;
    }

    .module-group .module-7 .service-group .service img{
        width: 100%;
    }

    .module-group .module-8{
        height: 183px;
        width: 94%;
        float: left;
        /*background-color: #F6F6F6;*/
        padding: 16px 3%;
        border: solid 1px #CCCCCC;
    }

    .module-group .module-8 .title{
        width: 95%;
        padding-left: 5%;
        background-image: url("/images/module-8-title.png");
        background-repeat: no-repeat;
        font-size: 18px;
        color: #FFFFFF;
        line-height: 42px;
        height: 40px;
        padding-bottom: 1px;
        border-bottom: 1px solid #5397e2;
        margin-bottom: 14px;
    }

    .module-group .module-8 .content{
        padding: 0px;
        width: 100%;
    }

    .left-button{
        width: 1.66%;
        float: left;
        padding: 41px 0;
        height: 24px;
    }

    .left-arrow{
        width: 0px;
        height: 0px;
        border-top: 12px solid #FFFFFF;
        border-bottom: 12px solid #FFFFFF;
        border-right: 14px solid #5397e2;
    }

    .right-button{
        width: 1.66%;
        float: right;
        padding: 41px 0;
        height: 24px;
    }

    .right-arrow{
        width: 0px;
        height: 0px;
        border-top: 12px solid #FFFFFF;
        border-bottom: 12px solid #FFFFFF;
        border-left: 14px solid #5397e2;
    }

    .company-group{
        width: 96.68%;
        height: 107px;
        float: left;
    }

    .company{
        margin: 0 2%;
        width: 10%;
        float: left;
        border: solid 1px #cccccc;
    }

    .company img{
        width: 100%;
    }

    .footer{
        background-color: #5397e2;
        padding: 0px 18.75%;
        width: 62.5%;
        height: 291px;
        float: left;
    }
}

