.pager{
    width: 100%;
    text-align: center;
    height: 75px;
    line-height: 75px;
}

.pager a {
    background-color: #e8e8e8;
    /*margin-right: 5%;*/
    padding: 5px 10px;
    color: #333;
}

.pager a:link{
    color: #333;
}

.pager a:active{
    color: #333;
}

.pager a:visited{
    color: #333;
}

.pager a:hover{
    color: #FFFFFF;
    background: #2e8fff;
}

.pager a.select{
    color: #FFFFFF;
    background: #2e8fff;
}